<div class="card-container">
  <div class="card">
    <div>
      <form class="topbar" [formGroup]="dateForm">
        <div>
          <label for="day">Day</label>
          <input type="number" name="Day" id="day" placeholder="dd"  formControlName="day">
          <small class="text-danger" *ngIf="dateForm.get('day')?.errors?.['required']">This Field is required</small>
          <small class="text-danger" *ngIf="dateForm.get('day')?.errors?.['max']">Must be a valid day</small>
        </div>
        <div>
          <label for="mm">Month</label>
          <input type="number" name="Month" id="mm" placeholder="mm" formControlName="month" >
          <small class="text-danger" *ngIf="dateForm.get('month')?.errors?.['required']">This Field is required</small>
          <small class="text-danger" *ngIf="dateForm.get('month')?.errors?.['max']">Must be a valid month</small>
        </div>
        <div>
          <label for="year">Year</label>
          <input type="number" name="Year" id="year" placeholder="yyyy" formControlName="year">
          <small class="text-danger" *ngIf="dateForm.get('year')?.errors?.['required']">This Field is required</small>
          <small class="text-danger" *ngIf="dateForm.get('year')?.errors?.['max']">Must be a valid year</small>
        </div>

       

      </form>
    </div>
    <hr style="width: 93%; border: 1px solid #ccc; position: relative;" ><input type="submit" value="" (click)="onsubmit()" > 
    <div class="bottombar">

      <h3><span>{{years}}</span> years</h3>
      <h3><span>{{months}}</span> months</h3>
      <h3><span>{{days}}</span> days</h3>
    </div>
  </div>
</div>